@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    if (!string.IsNullOrEmpty(ViewBag.a))
    {


        <script>
            alert('Сначала положите этого пациента в палату чтобы перевести его ');
        </script>

    }
}
<div class="link">
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>

            <th>
                Name
            </th>
            <th>
                Number Hospital Room
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw( item.Date)
                </td>

                <td>
                    @Html.Raw(item.Name)
                </td>
                <td>
                    @Html.Raw(item.NumberHospitalRoom)
                </td>
                <td>

                    <div class="link">
                        <div class="aaa">

                            <div class="Details">  <a asp-action="Details" asp-route-id="@item.CodeTransfer">Details</a> </div> |
                            <div class="Delete"> <a asp-action="Delete" asp-route-id="@item.CodeTransfer">Delete</a></div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
